.title1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {

    margin-top: 10px;
}

.row {

    margin-top: 10px;
}


.form-control {
    margin-top: 10px;
    margin-bottom: 10x;
}

body {
    background-color: whitesmoke;
}

.logo {
    background-image: url(static/pictures/background.jpg);
}

.btn-group {
    width: inherit;
    color: dodgerblue;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
