<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Your Plan</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <button id="backButton" type="button" class="btn btn-primary btn-lg" onclick=" goBack()"><i class="fas fa-arrow-left"></i></button>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="col-6 mx-auto">
            <div class="row mx-auto">
                <h1 class="display-2 text-right mr-0" th:each="user : ${userName}" th:text="${user.getName()}">user</h1>
                <h1 class="display-2 text-left ml-0">'s plan</h1>
            </div>
        </div>

    </div>


    <br>

    <div class="container">
        <table class="table mb-5 table-borderless">
            <thead class="thead-primary">
                <tr>
                    <th scope="col">Exercise</th>
                    <th scope="col">Reps</th>
                    <th scope="col">Sets</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${userPlan}">
                    <td scope="row" th:text="${item.getExercise()}">Ding 1</td>
                    <td scope="row" th:text="${item.getReps()}">99</td>
                    <td scope="row" th:text="${item.getSets()}">99</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary btn-lg" href="" th:each="user : ${userName}" th:href="${'/userPlan/delete?userId=' + user.getUserId()}">delete plan</a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>


    <!-- function for back button-->
    <script>
        function goBack() {
            location.href = "/yourPlan";
        }

    </script>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
