<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <title>User Load</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <button id="backButton" type="button" class="btn btn-primary btn-lg" onclick=" goBack()"><i class="fas fa-arrow-left"></i></button>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="display-2 text-center">Load plan</h1>

        <br>
        <br>

        <form name="addForm" action="#" th:action="${postAction}" method="post" th:object="${userList}">

            <div class="form-row">
                <div class="col-4 mx-auto text-center">

                    <select required name="userDetail.userId">
                        <option th:each="user : ${userList}" th:value="${user.getUserId()}" th:text="${user.getName()}">
                        </option>
                    </select>
                </div>
            </div>

            <br>

            <div class="form-row">
                <div class="col-4 mx-auto text-center">
                    <input class="btn btn-primary btn-lg" type=submit>
                </div>
            </div>
        </form>

    </div>

    <style>
        select {
            width: 100px;
        }

    </style>


    <!-- function for "back" button-->
    <script>
        function goBack() {
            location.href = "/yourPlan";
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
