<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Your Plan</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <button id="homeButton" type="button" class="btn btn-primary btn-lg" onclick=" goHome()"><i class="fas fa-home"></i></button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="title1">
            <h1 class="display-2 text-center">Your Plan</h1>
        </div>
    </div>

    <div class="container">
        <table class="table mb-5 table-borderless" id="myTable">
            <thead class="thead-primary">
                <tr>
                    <th scope="col">Exercise</th>
                    <th scope="col">Reps</th>
                    <th scope="col">Sets</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${yourPlanExercises}">
                    <td scope="row" th:text="${item.getExercise()}">Ding 1</td>
                    <td scope="row" th:text="${item.getReps()}">99</td>
                    <td scope="row" th:text="${item.getSets()}">99</td>
                    <td><a href="" th:href="${'/item?id=' + item.getId()}">edit</a></td>
                    <td><a href="" th:href="${'/item/delete?id=' + item.getId()}">delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button id="addButton" type="button" class="btn btn-primary btn-lg" onclick=" addNew()">Add new exercise</button>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <button id="addButton" type="button" class="btn btn-primary " onclick=" savePlan()">Save Plan</button>
            </div>
            <div class="col-sm text-center">
                <button id="addButton" type="button" class="btn btn-primary " onclick=" loadPlan()">Load Plan</button>
            </div>
        </div>
    </div>



    <br>
    <br>
    <br>


    <!-- function for "Add new exercise" button-->
    <script>
        function addNew() {
            location.href = "/item";
        }

    </script>

    <!-- function for "Save Plan" button-->
    <script>
        function savePlan() {
            location.href = "/user";
        }

    </script>

    <!-- function for "Load Plan" button-->
    <script>
        function loadPlan() {
            location.href = "/load";
        }

    </script>

    <!-- function for "Home" button-->
    <script>
        function goHome() {
            location.href = "/";
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
