<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Your Plan</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <button id="homeButton" type="button" class="btn btn-primary btn-lg" onclick=" goHome()"><i class="fas fa-home"></i></button>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="title1">
            <h1 class="display-2 text-center">Here's a plan - tailored to you!</h1>
        </div>
    </div>


    <br>

    <div class="container">
        <table class="table mb-5 table-borderless">
            <thead class="thead-primary">
                <tr>
                    <th scope="col">Exercise</th>
                    <th scope="col">Reps</th>
                    <th scope="col">Sets</th>
                    <th scope="col">Difficulty</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${tailoredNoob}">
                    <td scope="row" th:text="${item.getExercise()}">Ding 1</td>
                    <td scope="row" th:text="${item.getReps()}">99</td>
                    <td scope="row" th:text="${item.getSets()}">99</td>
                    <td scope="row" th:text="${item.getDifficulty()}">99</td>
                </tr>
                <tr th:each="item : ${tailoredIntermediate}">
                    <td scope="row" th:text="${item.getExercise()}">Ding 1</td>
                    <td scope="row" th:text="${item.getReps()}">99</td>
                    <td scope="row" th:text="${item.getSets()}">99</td>
                    <td scope="row" th:text="${item.getDifficulty()}">99</td>
                </tr>
                <tr th:each="item : ${tailoredPro}">
                    <td scope="row" th:text="${item.getExercise()}">Ding 1</td>
                    <td scope="row" th:text="${item.getReps()}">99</td>
                    <td scope="row" th:text="${item.getSets()}">99</td>
                    <td scope="row" th:text="${item.getDifficulty()}">99</td>
                </tr>
                <tr th:each="item : ${tailoredCardio}">
                    <td scope="row" th:text="${item.getExercise()}">Ding 1</td>
                    <td scope="row" th:text="${item.getReps()}">99</td>
                    <td scope="row" th:text="${item.getSets()}">99</td>
                    <td scope="row" th:text="${item.getDifficulty()}">99</td>
                </tr>
            </tbody>
        </table>


        <div class="row" id="calorieButton">
            <div class="col-4 mx-auto text-center">
                <button id="calculateButton" type="button" class="btn btn-primary btn-lg" onclick=" showCalories()" target="_blank">Calculate total calories burned</button>
            </div>
        </div>


        <div id="calories" style="display: none">
            <div class="row">
                <div class="col text-center" id="fire">
                    <span style="font-size: 200px; color: Dodgerblue;">
                        <i class="fas fa-fire-alt"></i>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="text-center">you burned <span th:text="${tailoredCalories}">999</span> calories</h2>
                </div>
            </div>
        </div>




    </div>

    <br>
    <br>

    <!-- function for "Home" button-->
    <script>
        function goHome() {
            location.href = "/";
        }

    </script>

    <!-- function for "calculate calories" button-->
    <script>
        function showCalories() {

            var x = document.getElementById("calories");
            if (x.style.display === "none") {
                x.style.display = "block";
                removeButton();
                var element = document.getElementById("calories");
                const y = element.getBoundingClientRect().top + window.scrollY;
                window.scroll({
                    top: y,
                    behavior: 'smooth'
                });

            } else {
                x.style.display = "none";
                removeButton();

            }
        }

    </script>

    <!-- function to remove "calculate calories" button-->
    <script>
        function removeButton() {
            var elem = document.getElementById('calorieButton');
            elem.parentNode.removeChild(elem);
            return false;
        }

    </script>


    <script>
        //Finds y value of given object
        function findPos(obj) {
            var curtop = 0;
            if (obj.offsetParent) {
                do {
                    curtop += obj.offsetTop;
                } while (obj = obj.offsetParent);
                return [curtop];
            }
        }

    </script>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
